{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    {% if animal.id %}Editar Animal{% else %}Agregar Animal{% endif %}
{% endblock titulo %}

{% block contenido %}
    <h1>{% if animal.id %}Editar Animal{% else %}Agregar Animal{% endif %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if animal.id %}Guardar Cambios{% else %}Crear Animal{% endif %}</button>
    </form>

    <a href="{% url 'animales' %}">Volver a la lista de animales</a>
{% endblock contenido %}