<!---aca heredo de base .html la parte de contenido de la pagina-->
{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    ¿QUIENES SOMOS?
    <p>Happy Animals es una emocionante aplicación web diseñada para todos los amantes de los animales 
        y la naturaleza.
         Nuestra plataforma tiene como objetivo acercarte a la belleza y 
        la diversidad del reino animal, así como a las personas
         apasionadas por cuidar y proteger a nuestros amigos peludos, emplumados y escamosos.
    </p>

{% endblock titulo %}
    
   

{% block contenido %}
    <h1>BIENVENIDOS A HAPPY ANIMALS</h1>    
{% endblock contenido %}
    
