{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Pagina de eventos
<img src="{% static 'images/mi_foto.jpg' %}" alt="Mi Foto">
<h2>Mi nombre es Nahuel Salme, soy estudiante de analista de sistemas en la facultad "ORT" <h2>
<h2>actualmente trabajo en una empresa de Software ERP como desarrollador de SQL<h2>
<h2>Entre a CoderHouse para ganar conocimientos y desarrollarme a futuro como Data Engineer<h2>
{% endblock titulo %}
<h1>Nahuel Salme</h1>

    
{% block contenido %}
    
{% endblock contenido %}